.addnotes {
    width: 65%;
    background: #fff;
    border: 1px solid #B7CEEA;
    padding: "38px";
    
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    transition: ease-in-out 0.4;
    margin:10% 0px 0px 14%;
    
}

.addnotes > input {
    border-radius: 8px;
    border: 1px solid cornflowerblue;
    box-shadow : 5px 5px 7px 0px rgb(217 221 232);
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    margin-right: 20px;
}

.addnotes > textarea {
    border-radius: 8px;
    border: 1px solid cornflowerblue;
    box-shadow : 5px 5px 7px 0px rgb(217 221 232);
    outline: none;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    height: auto;
    font-size: 1rem;
    margin-right: 20px;
}

.addnotes > select {
    border-radius: 8px;
    border: 1px solid cornflowerblue;
    box-shadow : 5px 5px 7px 0px rgb(217 221 232);
    /* outline: none; */
    
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    margin-right: 20px;
}

.notesheading{
    color: black;
    font-size: 30px;
    /* font-family: Bodoni; */
    text-align: center;
    font-family: math;
    color: darkblue;
    text-decoration: underline;
}


.notesadd{
    background: #1877f2;
    border: 2px solid #49c5b6;
    color: #fff;
    font-size: 1rem;
    width: 50%;
    margin-left: 30%;
    padding: 0.5rem;
    margin:17.5px 25%;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
   
}


